* {
  color: #144659;
  font-size: 14px;
  letter-spacing: 0.03rem;
}
/************************** GLOBAL **********************************/

button.btn {
  border-radius: 8px;
  opacity: 1;
  padding: 0.4rem 0.7rem;
}

button.btn span {
  border-radius: 8px;
  opacity: 1;
  color: white;
  font-weight: 600;
}

button.btn fa-icon path{
  color: white;
}
button.btn fa-icon{
  margin-right: 4px;
}
#entities button.btn fa-icon path{
  color: #144659;
}

/************************** BUTTON **********************************/

button.btn-primary,
button.btn.btn-danger {
  background: #f2226e 0% 0% no-repeat padding-box;
  border: none;
  color: white;
  opacity: 1;
  box-shadow: none !important;
}
/* button.btn-primary fa-icon,
button.btn.btn-danger fa-icon {
  display: none;
} */

button.btn-primary:default {
  background-color: #f2226e;
}

button.btn-primary:active:not(:disabled),
button.btn-primary:focus,
button.btn-primary.focus {
  background: #d82465 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 1px 1px #00000029;
  border: 1px solid #f2226e !important ;
}

button.btn-primary:hover:not(:disabled),
button.btn.btn-danger:hover:not(:disabled) {
  background-color: #d82465;
  box-shadow: 0px 3px 6px #00000029 !important;
}
button.btn-primary:disabled {
  background-color: #f2226e40;
}
button.btn-primary:disabled span {
  color: #f2226e;
}

/************************** TEXT BUTTON **********************************/

button.btn-text-light,
button.btn.btn-secondary, button.btn.btn-info, input[type="file"] {
  border: none;
  font: normal normal 600 14px/18px Source Sans Pro;
  box-shadow: none !important;
  background: none;
}
button.btn.btn-secondary fa-icon, button.btn.btn-info fa-icon {
  display: none;
}

button.btn-text-light span,
button.btn.btn-secondary span, button.btn.btn-info span {
  color: #f2226e;
}

button.btn-text-light:hover,
button.btn.btn-secondary:hover, button.btn.btn-info:hover , input[type="file"]:hover{
  background: #f2226e14 0% 0% no-repeat padding-box;
}

button.btn-text-light:active,
button.btn.btn-secondary:active, button.btn.btn-info:active, input[type="file"]:active {
  background: #f2226e14 0% 0% no-repeat padding-box !important;
  border: 1px solid #f2226e80 !important;
}

button.btn-text-light:disabled span,
button.btn.btn-secondary:disabled span, button.btn.btn-info:disabled span {
  color: #f2226e;
  color: var(--accent);
}

/****************************************************************************/

/************************** BUTTON DOCUMENT**********************************/

button.btn-outline-dark {
  border: 1px solid var(--text-primary);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #144659;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
}
button.btn-outline-dark i.pi {
  position: relative;
  font-size: 15px;
  top: 1.6px;
}

button.btn-outline-dark:hover {
  border: 1px solid var(--text-primary);
  background: #1446591a 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #144659;
}
button.btn-outline-dark:active {
  border: 1px solid var(--text-primary);
  background: #1446591a 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 1px 1px #00000029 !important;
  border: 1px solid #144659;
}
button.btn-outline-dark:disabled {
  border: 1px solid var(--text-primary);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #144659;
}

button.btn span {
  white-space: nowrap;
}

/* Seleccionar archivo */

/* form-group div:first-of-type {          
  position: relative;
  display: inline-block;
}
 
form-group div:first-of-type::before {
  background-color: #5678EF;
  color: white;
  display: flex;            
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;                
}
 
form-group div:first-of-type input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;            
}
 
input[type="file"]::before {
  content: 'Seleccionar Archivo 1';
}
  */