<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="skillCategory">
      <h2 data-cy="skillCategoryDetailsHeading"><span jhiTranslate="growthpathApp.skillCategory.detail.title">Skill Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ skillCategory.id }}</span>
        </dd>
        <dt><span jhiTranslate="growthpathApp.skillCategory.name">Name</span></dt>
        <dd>
          <span>{{ skillCategory.name }}</span>
        </dd>
        <dt><span jhiTranslate="growthpathApp.skillCategory.unit">Unit</span></dt>
        <dd>
          <div *ngIf="skillCategory.unit">
            <a [routerLink]="['/unit', skillCategory.unit?.id, 'view']">{{ skillCategory.unit?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/skill-category', skillCategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
