.navbar {
  transition: top 0.3s;
}

nav {
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #00000029;
}

nav:first-of-type {
  z-index: 2;
}

nav.navbar ul li a.nav-link span {
  color: #144659;
  font-size: 18px;
  white-space: nowrap;
}

nav ul {
  margin-left: 25.13px;
}

nav li {
  margin-right: 24px;
}

nav li .active {
  color: #f2226e;
}

nav .title {
  text-align: left;
  letter-spacing: 0px;
  color: #144659;
  opacity: 1;
  margin-left: 20px;
}


/* .navegation {
  margin-top: 1px;
  padding: 10px;
  width: 100%;
  top: 0;
  display: inline-block;
  position: sticky;
  z-index: 1;
  transition: top 0.3s;
}

.navegation .title {
  margin-left: 20px;
}

.navegation #logoG {
  margin-left: 20px;
  height: 40px;
}

.navegationnologo {
  margin-top: 1px;
  padding: 10px;
  width: 100%;
  top: 0;
  display: inline-block;
  position: sticky;
  z-index: 1;
  transition: top 0.3s;
}

.navegationnologo .title {
  margin-left: 16px;
}

.navegationnologo #logoG {
  display: none;
} */

.navbar-nav {
  align-items: center;
}
