<div>
  <h2 id="page-heading" data-cy="UnitHeading">
    <span jhiTranslate="growthpathApp.unit.home.title">Units</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="growthpathApp.unit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-unit"
        [routerLink]="['/unit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="growthpathApp.unit.home.createLabel"> Create a new Unit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div class="filter">
    <form name="filterForm" role="form" novalidate (ngSubmit)="filter()" [formGroup]="filterForm" class="ng-untouched ng-pristine ng-valid">
      <div class="filter-header">
        <h5>Filtros</h5>
        <div>
          <button type="button" (click)="resetFormulario()" class="btn btn-text-light">
            <span>Quitar filtros</span>
          </button>
          <button type="submit" class="btn btn-primary"><span>Filtrar</span></button>
        </div>
      </div>

      <div class="filter-group">
        <div>
          <label for="filterName" class="form-control-label">Nombre</label>
          <input type="text" class="form-control" id="filterName" formControlName="filterName" placeholder="hola" />
        </div>
        <div>
          <label for="filterName" class="form-control-label">Nombre</label>
          <input type="text" class="form-control" id="filterName" formControlName="filterName" />
        </div>
      </div>
    </form>
  </div>
  <div class="alert alert-warning" id="no-result" *ngIf="units?.length === 0">
    <span jhiTranslate="growthpathApp.unit.home.notFound">No units found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="units && units.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="growthpathApp.unit.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unit of units; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/unit', unit.id, 'edit']">{{ unit.id }}</a>
          </td>
          <td>{{ unit.name }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/unit', unit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(unit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="units && units.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
