:root {
    --sidebar-width: 500px;
  }
  
  .row-component{
      display:flex;
  }
  
  .filter {   
      flex-grow:1;
      max-width:500px;
      transition: margin 600ms ease-in-out;
  }
  
  .filter.collapse {
      margin-left:-600px;
      margin-right:100px;
      transition: margin 600ms ease-in-out;
  }
  
  .table-list-col {
      flex-grow:1;
      transition: margin 600ms ease-in-out;
  }