.row-component {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.filter {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0 40px;
  border: 1px solid #00000029;
}
.table-list-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 70%;
}
.filter-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  align-items: baseline;
  justify-content: space-between;
  box-shadow: 0px 1px #00000029;
}
.filter-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
}

.filter-button-clean {
  background-color: white;
  border: none;
}
.filter-button-clean span {
  font-size: 16px;
}
.filter-button {
  background-color: #f2226e;
  color: white;
  border: none;
  padding: 4px 7px;
  border-radius: 8px;
  /* margin: 10px; */
}
.filter-button span {
  padding: 0px 6px;
}

.filter-group-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}
.filter-group-row.no-title {
  padding: 30px 0;
  box-shadow: 0px 1px #00000029;
}

.filter-group-col {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px #00000029;
  padding-top: 20px;
}

.filter-group-col div:first-of-type {
  padding-bottom: 10px;
}
.filter .filter-group-col:last-of-type {
  box-shadow: none;
}

.filter-field-col {
  width: 45%;
}

.filter-group-col:last-of-type {
  width: 100%;
}
.filter-group-col:last-of-type .filter-field-col {
  width: 100%;
}

span.p-input-icon-right.p-float-label {
  width: 100%;
}
