.row-component {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col-filter {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0 40px;
  border: 1px solid #00000029;
}
.col-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 75%;
}
.grid-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  align-items: baseline;
  justify-content: space-between;
  box-shadow: 0px 1px #00000029;
}
.button-group-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45%;
  justify-content: space-between;
}

#clean-filter-button {
  background-color: white;
  border: none;
}
.filter-button {
  background-color: #f2226e;
  color: white;
  border: none;
  padding: 4px 7px;
  border-radius: 8px;
  /* margin: 10px; */
}
.filter-button span {
  padding: 0px 6px;
}

.row-filter-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  box-shadow: 0px 1px #00000029;
}
.row-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}
.col-filter-group div:first-of-type {
  padding-bottom: 10px;
}
.col-filter .col-filter-group:last-of-type {
  box-shadow: none;
}

.col-filter-field {
  width: 45%;
}
.col-filter-group {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px #00000029;
  padding-top: 20px;
}

.col-filter-group:last-of-type {
  width: 100%;
}
.col-filter-group:last-of-type .col-filter-field {
  width: 100%;
}

span.p-input-icon-right.p-float-label {
  width: 100%;
}
