<div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row-component">
    <div [ngClass]="isCollapseFilter ? 'filter collapse' : 'filter'">
      <form
        name="filterForm"
        role="form"
        novalidate
        (ngSubmit)="filter()"
        [formGroup]="filterForm"
        class="ng-untouched ng-pristine ng-valid"
      >
        <div class="filter-header">
          <h5>Filtros</h5>
          <div>
            <button type="button" (click)="resetFormulario()" class="btn btn-text-light">
              <span>Quitar filtros</span>
            </button>
            <button type="submit" class="btn btn-primary"><span>Filtrar</span></button>
          </div>
        </div>

        <div class="filter-group">
          <div>
            <label for="filterName" class="form-control-label">Nombre</label>
            <input type="text" class="form-control" id="filterName" formControlName="filterName" placeholder="hola" />
          </div>
          <div>
            <label for="filterName" class="form-control-label">Nombre</label>
            <input type="text" class="form-control" id="filterName" formControlName="filterName" />
          </div>
        </div>
      </form>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="units?.length === 0">
      <span jhiTranslate="growthpathApp.unit.home.notFound">No units found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="units && units.length > 0">
      <div class="table-header">
        <div class="table-left-buttons">
          <button class="btn btn-outline-dark" (click)="collapseFilter()"><i class="pi pi-chevron-left"></i><i class="pi pi-filter"></i></button>
          <p-chip class="table-chips" label="Nombre" [removable]="true"></p-chip>
        </div>
        <div class="table-right-buttons">
          <button class="btn btn-outline-dark" (click)="exportPdf()"><i class="pi pi-file-pdf"></i></button>
          <button class="btn btn-outline-dark" (click)="exportExcel()"><i class="pi pi-file-excel"></i></button>
          <button class="btn btn-primary" [routerLink]="['/unit/new']" id="jh-create-entity" data-cy="entityCreateButton">
            + <span jhiTranslate="growthpathApp.unit.detail.title">Unit</span>
          </button>
        </div>
      </div>
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="name">
              <span jhiTranslate="growthpathApp.unit.name">Name</span> <i *ngIf="ascending" class="pi pi-angle-up"></i
              ><i *ngIf="ascending == false" class="pi pi-angle-down"></i>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unit of units; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/unit', unit.id, 'edit']">{{ unit.id }}</a>
            </td>
            <td>{{ unit.name }}</td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  pButton
                  pRipple
                  type="submit"
                  class="p-button p-button-rounded p-button-text"
                  data-cy="entityEditButton"
                  [routerLink]="['/unit', unit.id, 'edit']"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                </button>
                <button
                  pButton
                  pRipple
                  type="submit"
                  (click)="delete(unit)"
                  class="p-button p-button-rounded p-button-text"
                  data-cy="entityDeleteButton"
                >
                  <fa-icon icon="trash-alt"></fa-icon>
                </button>
                <button pButton pRipple type="submit" class="p-button p-button-rounded p-button-text">
                  <i class="pi pi-ellipsis-v"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="units && units.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
