#entities table .btn-group button:first-child {
  display: none;
}
#entities table .btn-group button {
  border: none;
  background-color: transparent;
}

#entities table .btn-group button span {
  display: none !important;
}

#entities table.table td,
#entities table.table th {
  padding: 0 0.75rem 0 0.75rem;
  vertical-align: baseline;
}
