<div>
  <h2 id="page-heading" data-cy="PersonSkillHeading">
    <span jhiTranslate="growthpathApp.personSkill.home.title">Person Skills</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="growthpathApp.personSkill.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person-skill"
        [routerLink]="['/person-skill/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="growthpathApp.personSkill.home.createLabel"> Create a new Person Skill </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="personSkills?.length === 0">
    <span jhiTranslate="growthpathApp.personSkill.home.notFound">No personSkills found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="personSkills && personSkills.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="comments">
            <span jhiTranslate="growthpathApp.personSkill.comments">Comments</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="level">
            <span jhiTranslate="growthpathApp.personSkill.level">Level</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="person.name">
            <span jhiTranslate="growthpathApp.personSkill.person">Person</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="skill.name">
            <span jhiTranslate="growthpathApp.personSkill.skill">Skill</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personSkill of personSkills; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/person-skill', personSkill.id, 'view']">{{ personSkill.id }}</a>
          </td>
          <td>{{ personSkill.comments }}</td>
          <td jhiTranslate="{{ 'growthpathApp.SkillLevel.' + personSkill.level }}">{{ personSkill.level }}</td>
          <td>
            <div *ngIf="personSkill.person">
              <a [routerLink]="['/person', personSkill.person?.id, 'view']">{{ personSkill.person?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="personSkill.skill">
              <a [routerLink]="['/skill', personSkill.skill?.id, 'view']">{{ personSkill.skill?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/person-skill', personSkill.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/person-skill', personSkill.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(personSkill)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="personSkills && personSkills.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
